@page "/ingredients"
@using RecipeGroceryList.Shared
@using RecipeGroceryList.Shared.Enums

<PageTitle>Ingredients</PageTitle>

<h1>Ingredients</h1>
    
<input placeholder="Name" @bind="newIngredient" />
<button @onclick="AddIngredient">Add</button>

<ul>
    @foreach (var item in ingredients)
    {
        <li>@item.Name</li>
    }
</ul>

<AddButton @ref="addButton" onAddClicked="AddIngredient"></AddButton>

@code {
    private List<Ingredient> ingredients = new();
    private string? newIngredient;
    private AddButton addButton;

    public void AddIngredient()
    {
        if (!string.IsNullOrWhiteSpace(newIngredient))
        {
            ingredients.Add(new Ingredient(newIngredient, FoodType.Food));
        }
    }
}
