<div class="container-fluid h-100 d-flex justify-content-around align-items-center">
    <NavLink class="nav-link py-3 px-4" href="">
        <span class="oi oi-document text-white" aria-hidden="true"></span>
    </NavLink>
    <NavLink class="nav-link" href="counter">
        <span class="oi oi-cart py-3 px-4 text-white" aria-hidden="true"></span>
    </NavLink>
    <NavLink class="nav-link" href="ingredients">
        <span class="oi oi-list-rich py-3 px-4 text-white" aria-hidden="true"></span>
    </NavLink>
</div>

@code {
   
}
